<%- include("partials/header.ejs") %>

<main>
    <div class="date">
        <span>Work List</span>

    </div>
    <% if(data.length===0){ %>
    <script>
        window.location.reload();
    </script>

    <% } else{%>
    <div class="box">
        <div class="first-container">
            <!-- <input  class="arrangement" type="checkbox"> -->
            <form action="/delete/work" method="POST">
                <input class="arrangement" onChange="this.form.submit()" type="checkbox" name="itemId"
                    value="<%= data[0]._id %>">
                <span class="arrangement "><%= data[0].name %></span>
            </form>
        </div>
        <% for(var i =1;i<data.length;i++){ %>
        <div class="container">
            <form action="/delete/work" method="POST">
                <input onChange="this.form.submit()" class="arrangement" type="checkbox" name="itemId"
                    value="<%= data[i]._id %>">
                <span class="arrangement "><%= data[i].name %></span>
            </form>
        </div>

        <% } %>
    </div>
    <% } %>
    <div class="container addTask">
        <form method="POST" action="/add/work">
            <input id="addTask" type="text" name="task" placeholder="Enter your task">
            <button id="taskButton" type="submit" name="submit" value="Submitted">
                <img src="plus.png" alt="plusSymbol">
            </button>
        </form>
</main>
<%- include("partials/footer.ejs") %>